<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="sbgames.lucassoares.com.sbgames">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".RegrasActivity" />
        <activity android:name=".ProfissoesActivity" />
        <activity android:name=".ProgramadorActivity" />
        <activity android:name=".ArtistaActivity" />
        <activity android:name=".SobreActivity" />
        <activity android:name=".design" />
        <activity android:name=".roteirista" />
        <activity android:name=".DesignActivity" />
        <activity android:name=".RoteiristaActivity" />
        <activity android:name=".ProdutorActivity" />
        <activity android:name=".FreelancerActivity" />
        <activity android:name=".nosActivity"></activity>
    </application>

</manifest>